version: 1.0.{build}
environment:
  matrix:
    - PYTHON: C:\\Python37-x64
      PYTHON_VERSION: 3.5
    - PYTHON: C:\\Python37-x64
      PYTHON_VERSION: 3.6
    - PYTHON: C:\\Python37-x64
      PYTHON_VERSION: 3.7
    - PYTHON: C:\\Python38-x64
      PYTHON_VERSION: 3.8
    - PYTHON: C:\\Python39-x64
      PYTHON_VERSION: 3.9
    - PYTHON: C:\\Python39-x64
      PYTHON_VERSION: 3.10
install:
  - cmd: 'python -m pip install -r requirements.txt'
  - cmd: 'python -m pip install -r dev-requirements.txt'
  - cmd: 'python setup.py install'
  - cmd: 'pytest --cov --cov-report=xml'
  - cmd: 'codecov --file=coverage.xml'
build: off
